{% extends 'admin_home.html' %}

{% block content %}
<div class="container-fluid mt-5 mr-5 ml-5">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center" style="background-color: navy;color: white;padding: 7px; border-radius: 6px;font-family: monospace;">All Accepted Notes</h3>
            <hr>
            <table class="table table-dark table-striped">
                <thead style="color: aqua;">
                  <tr>
                    <th scope="col">S. No</th>
                    <th scope="col">Uploading Date</th>
                    <th>Uploaded By</th>
                    <th scope="col">Branch</th>
                    <th scope="col">Subject</th>
                    <th scope="col">Notes Type</th>
                    <th>Description</th>
                    <th scope="col">Status</th>
                    <th scope="col">Download Notes</th>
                    <th>Assign Status</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                    {% for notes in data %}
                  <tr>
                    <th>{{forloop.counter}}</th>
                    <td>{{notes.uploadingDate}}</td>
                    <td>{{notes.user.username}}</td>
                    <td>{{notes.branch}}</td>
                    <td>{{notes.subject}}</td>
                    <td>{{notes.fileType}}</td>
                    <td>{{notes.description}}</td>
                    <!-- Below "ed" is added by me because in database status is "Accept" not "Accepted" so when show in table i have added "ed" extra with "Accept" -->
                    <td> {% if notes.status == "Accept" %}  {{notes.status}}ed {% else %}  {{notes.status}} {% endif %}</td>
                     <!-- 
                        Below is the link to download file , this is done by following
                        1. Added "filepath" which means file name in href tage
                        2. Then just write "download" out side the href tag , then file will be downloaded 
                    -->
                    <td><a href="{{notes.notesFile.url}}" download style="text-decoration: none;" class="btn btn-primary btn-sm"> <i class="bi bi-download " > </i> Download </a></td>
                    <td><a href="{% url 'assign_status' notes.id %}" style="text-decoration: none;" class="btn btn-primary btn-sm"> Change </a></td>
                    <td><a href="{% url 'delete_notes' notes.id %}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete? {{ notesData.notesFile}} ')">Delete</a></td>
                  </tr>
                    {% endfor %}
                </tbody>
              </table>
        </div>
        
    </div>

</div>
{% endblock content %}