{% extends 'admin_home.html' %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-3">
            <div class="card text-bg-info" style="width: 15rem;">
                <div class="card-body text-center">
                  <h5 class="card-title">{{ pendingNotes }}</h5> 
                  <a href="{% url 'pending_notes' %}" class="btn btn-primary mt-4">Pending Notes</a>
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="card text-bg-info" style="width: 15rem;">
                <div class="card-body text-center">
                  <h5 class="card-title">{{ acceptedNotes }}</h5>   
                  <a href="{% url 'accepted_notes' %}" class="btn btn-primary mt-4">Accepted Notes</a>
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="card text-bg-info" style="width: 15rem;">
                <div class="card-body text-center">
                  <h5 class="card-title">{{ rejectedNotes }}</h5>
                  <a href="{% url 'rejected_notes' %}" class="btn btn-primary mt-4">Rejected Notes</a>
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="card text-bg-info" style="width: 15rem;">
                <div class="card-body text-center">
                  <h5 class="card-title">{{ allNotes }}</h5>
                  <a href="{% url 'all_notes' %}" class="btn btn-primary mt-4">All Notes</a>
                </div>
              </div>
        </div>
    </div>
</div>
<footer class="bg-dark text-center text-lg-start fixed-bottom">
    <!-- Copyright -->
    <div class="text-center p-3" style="color: white;">
      © 2020 Copyright : Developed by  <span>Farhan Bin Yousaf</span> 
      <p>This site is developed by Farhan in Django </p>
    </div>
    <!-- Copyright -->
  </footer>


{% endblock content %}