{% extends 'index.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-12">
            <h3 class="text-center" style="background-color: navy;color: white;padding: 7px; border-radius: 6px;font-family: monospace;">Your Notes</h3>
            <hr>
            <table class="table table-dark table-striped">
                <thead style="color: aqua;">
                  <tr>
                    <th scope="col">S. No</th>
                    <th scope="col">Uploading Date</th>
                    <th scope="col">Branch</th>
                    <th scope="col">Subject</th>
                    <th scope="col">Notes Type</th>
                    <th>Description</th>
                    <th scope="col">Status</th>
                    <th scope="col">Download Notes</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                    {% for notesData in data %}
                  <tr>
                    <th>{{forloop.counter}}</th>
                    <td>{{notesData.uploadingDate}}</td>
                    <td>{{notesData.branch}}</td>
                    <td>{{notesData.subject}}</td>
                    <!-- 
                        Below is the link to download file , this is done by following
                        1. Added "filepath" which means file name in href tage
                        2. Then just write "download" out side the href tag , then file will be downloaded 
                    -->
                    <td>{{notesData.fileType}}</td>
                    <td>{{notesData.description}}</td>
                    <td>{{notesData.status}}</td>
                    <td><a href="{{notesData.notesFile.url}}" download style="text-decoration: none;" class="btn btn-primary btn-sm"> <i class="bi bi-download " > </i> Download </a></td>

                    <td><a href="{% url 'delete_notes' notesData.id %}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete? {{ notesData.notesFile}} ')">Delete</a></td>
                  </tr>
                    {% endfor %}
                </tbody>
              </table>
        </div>
        <div class="col-md-1"></div>
    </div>

</div>
{% endblock content %}